@{
    ViewBag.Title = "ViewFLAForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_content">
    <div class="card mb-3">
        <div class="card-header"><i class="fas fa-table mr-1"></i>FLA INPUT</div>
        <div class="card-body" id="data-body">
            
        </div>
    </div>
</div>
